@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Meow+Script&family=Pacifico&display=swap');


/* 전역범위 스타일 */
* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #F8D8B2;
}
a {
    text-decoration: none;
    /* color: #000000; */
}
a:hover {
    text-decoration: none;
}
.hide {
    display: none;
}


/* header start */
.header{
    position: fixed;
    height: 100px;
    background-color: #DB8183;
    margin-top: -25px;
}
.logo{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: beige;
}
nav{
    float: right;
    width: 35%;
    height: 50px;
    background-color: #ddd;
    margin-top: 25px;
}
/* header end */


/* contents start */
.lettering{
    width: 100%;
    height: 550px;
    background-color: bisque;
    margin-top: 25px;
}
.popular{
    height: 560px;
    margin: 25px 0;
    background-color: blanchedalmond;
}

.banner{
    width: 100%;
    height: 200px;
    text-align: center;
    margin-left: -15px;
}

.order{
    width: 100%;
    height: 260px;
    background-color: lightgoldenrodyellow;
    margin: 25px 0;
}

.ad{
    width: 100%;
    height: 600px;
    background-color: lightyellow;
    margin: 25px 0;
}
/* contents end */


/* footer start */
.footer{
    height: 525px;
    background-color: #4E183F;
}
.foot_nav{
    float: right;
    width: 50%;
    height: 50px;
    background-color: #ccc;
    margin-bottom: 25px;
}
.container-sm{
    float: left;
    width: 60%;
    height: 250px;
    margin-left: -15px;
    margin-bottom: 25px;
}
.contact{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #aaa;
}
.pscake{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #999;
}
.service{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #aaa;
}
.info {
    clear: both;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    color: #5e5e5e;
}
hr {
    margin: 25px 0;
    border: 1px solid #ffffff;
}
.copy {
    text-align: center;
    color: #ffffff;
}