@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Meow+Script&family=Pacifico&display=swap');
@font-face {
    font-family: 'HSBombaram3_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전역범위 스타일 */
* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #F8D8B2;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.hide {
    display: none;
}

/* header start */
.header{
    position: relative;
    height: 100px;
    background-color: #DB8183;
}
.logo{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
}
nav{
    float: right;
    width: 35%;
    height: 50px;
    background-color: #ddd;
    margin-top: 25px;
}
/* header end */


/* contents start */
.lettering{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 25px;
}
.text {
    width: 55%;
    height: auto;
}
.text h3 {
    font-family: 'Pacifico', cursive;
    color: #8F2772;
    padding: 30px 0;
}
.text p {
    line-height: 1.8;
}
.cakeimg {
    position: absolute;
    bottom: 0;
}
.cakeimg li img {
    height: 190px;
    object-fit: cover;
}
.cakeimg li {
    float: left;
    margin: 0 5px 0 0;
}
.img4 {
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px 0 #333;
}

.popular{
    position: relative;
    height: auto;
    margin: 25px 0;
}
.more {
    position: absolute;
    right: 0;
    top: 30px;
    width: 150px;
    height: 50px;
    background-color: #DB8183;
    border: none;
}
.popular ul li {
    float: left;
    margin: 0 10px 0 10px;
}
.popular img {
    width: 100%;
    height: 100%;
    transition: all 0.2s  linear;
}
.popular ul li:hover {
    opacity: 0.8;
}

.banner{
    width: 100%;
    height: 400px;
    text-align: center;
    /* 사진 위에 색상 덮어씌우기 (위 아래 따로 조절가능) */
    /* background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ), url("../img/christmas-adimg2.jpg"); */
    background: url("../img/christmas-adimg2.jpg") no-repeat center center;
}

.order{
    width: 100%;
    height: 260px;
    background-color: lightgoldenrodyellow;
    margin: 25px 0;
}

.ad{
    width: 100%;
    height: 600px;
    background-color: lightyellow;
    margin: 25px 0;
}
/* contents end */


/* footer start */
.footer{
    height: 525px;
    background-color: #4E183F;
}
.foot_nav{
    float: right;
    width: 50%;
    height: 50px;
    background-color: #ccc;
    margin-bottom: 25px;
}
.container-sm{
    float: left;
    width: 60%;
    height: 250px;
    margin-left: -15px;
    margin-bottom: 25px;
}
.contact{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #aaa;
}
.pscake{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #999;
}
.service{
    float: left;
    width: 33.333%;
    height: 100%;
    background-color: #aaa;
}
.info {
    clear: both;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    color: #5e5e5e;
}
hr {
    margin: 25px 0;
    border: 1px solid #ffffff;
}
.copy {
    text-align: center;
    color: #ffffff;
}